absl-py==1.4.0
alabaster==0.7.13
antlr4-python3-runtime==4.8
anyio==3.7.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.2.1
attrs==23.1.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.2
black==23.3.0
bleach==6.0.0
cachetools==5.3.1
certifi==2020.12.5
cffi==1.14.2
cfgv==3.3.1
charset-normalizer==3.1.0
click==8.1.3
cloudpickle==1.6.0
comm==0.1.3
contourpy==1.1.0
cycler==0.10.0
Cython==0.29.35
debugpy==1.6.7
decorator==4.4.0
defusedxml==0.7.1
distlib==0.3.6
docutils==0.20.1
exceptiongroup==1.1.1
executing==1.2.0
fasteners==0.18
fastjsonschema==2.17.1
filelock==3.12.2
flake8==6.0.0
fonttools==4.40.0
future==0.18.2
glfw==2.6.0
google-auth==2.20.0
google-auth-oauthlib==1.0.0
grpcio==1.56.0
gym==0.18.0
Gymnasium==0.26.3
gymnasium-notices==0.0.1
hydra-core==1.0.3
identify==2.5.24
idna==3.4
imageio==2.31.1
imagesize==1.4.1
importlib-metadata==4.13.0
importlib-resources==5.12.0
iniconfig==2.0.0
ipykernel==6.23.3
ipython==7.21.0
ipython-genutils==0.2.0
ipywidgets==8.0.6
jedi==0.18.0
Jinja2==3.1.2
jsonschema==4.17.3
jupyter==1.0.0
jupyter-client==8.3.0
jupyter-console==6.6.3
jupyter-core==5.3.1
jupyter-events==0.6.3
jupyter-server==2.6.0
jupyter-server-terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
kiwisolver==1.3.1
Markdown==3.4.3
MarkupSafe==2.1.3
matplotlib==3.3.4
matplotlib-inline==0.1.6
-e git+git@github.com:facebookresearch/mbrl-lib.git@9d22445d895b414579c275edcdf3056ab8da3201#egg=mbrl
mccabe==0.7.0
mistune==3.0.1
mujoco==2.3.6
mujoco-py==2.1.2.14
mypy==1.4.0
mypy-extensions==1.0.0
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.6.0
nbformat==5.9.0
nbsphinx==0.9.2
nest-asyncio==1.5.6
nodeenv==1.8.0
notebook==6.5.4
notebook-shim==0.2.3
numpy==1.24.3
oauthlib==3.2.2
omegaconf==2.0.6
overrides==7.3.1
packaging==23.1
pandocfilters==1.5.0
parso==0.8.1
pathspec==0.11.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
pkgutil-resolve-name==1.3.10
platformdirs==3.8.0
pluggy==1.2.0
pre-commit==3.3.3
prometheus-client==0.17.0
prompt-toolkit==3.0.38
protobuf==4.23.3
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.10.0
pycparser==2.20
pyflakes==3.0.1
pyglet==1.5.0
Pygments==2.15.1
PyOpenGL==3.1.7
pyparsing==2.4.7
-e git+https://github.com/stepjam/PyRep@9bcf2c1239ec18b3eb537693f60a6c232d789070#egg=PyRep
pyrsistent==0.19.3
pytest==7.4.0
python-dateutil==2.8.1
python-json-logger==2.0.7
pytz==2023.3
PyYAML==6.0
pyzmq==25.1.0
qtconsole==5.4.3
QtPy==2.3.1
requests==2.31.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rsa==4.9
-e git+git@github.com:samchenatti/sac_experiments.git@d39e077351ec96f5cd3c253817203ad01a2a0316#egg=sac_experiments
scipy==1.6.1
Send2Trash==1.8.2
six==1.15.0
sk-video==1.1.10
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.4.1
sphinx==7.0.1
sphinx-rtd-theme==1.2.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stack-data==0.6.2
tensorboard==2.13.0
tensorboard-data-server==0.7.1
termcolor==2.3.0
terminado==0.17.1
tinycss2==1.2.1
tomli==2.0.1
torch==1.8.0
tornado==6.3.2
tqdm==4.59.0
traitlets==5.0.5
types-PyYAML==6.0.12.10
types-termcolor==1.1.6.2
typing-extensions==3.7.4.3
urllib3==1.26.16
virtualenv==20.23.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.6.1
Werkzeug==2.3.6
widgetsnbextension==4.0.7
zipp==3.15.0
